.is-it {
  background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --main: hsl(242, 100%, 65%);
  --bg: #fff;
  --alt: hsl(242, 20%, 20%);
  --header-title-nav-height: calc(50vh + 60px);
  --header-title-nav-position: absolute;
  --header-title-nav-z-index: 0;
  --headerSideFx-color: var(--bg);
}

.code-inline {
  font-family: monospace;
  color: var(--main);
}

button {
  cursor: pointer;
}

body {
  background: var(--bg);
}

body, body * {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body::after, body::before, body *::after, body *::before {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a {
  color: var(--main);
}

header#header-title-nav {
  background: var(--main);
  height: var(--header-title-nav-height);
  color: var(--bg);
  position: var(--header-title-nav-position);
  width: 100%;
  z-index: var(--header-title-nav-z-index);
}

header#header-title-nav h1 {
  padding: 12px;
  display: inline-block;
}

nav {
  position: fixed;
  background: var(--bg);
  color: var(--alt);
  overflow: hidden;
  min-width: 40px;
  width: 40px;
  height: 40px;
  min-height: 40px;
  top: 13.5px;
  right: 0;
  -webkit-transform: translate(-12px, 0%);
          transform: translate(-12px, 0%);
  z-index: 999;
}

nav.nav-is-open {
  width: calc(100vw - 24px);
  height: calc(100vh - 27px);
  border: 2px solid var(--main);
  -webkit-box-shadow: 0 0 12px rgba(82, 77, 255, 0.42);
          box-shadow: 0 0 12px rgba(82, 77, 255, 0.42);
}

nav.nav-is-open::before {
  -webkit-transform: translateY(5px) rotate(315deg);
          transform: translateY(5px) rotate(315deg);
}

nav.nav-is-open::after {
  -webkit-transform: translateY(-5px) rotate(-315deg);
          transform: translateY(-5px) rotate(-315deg);
}

nav.nav-is-open ul {
  opacity: 1;
  pointer-events: all;
}

nav::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  height: 2px;
  width: 20px;
  background: var(--main);
  cursor: pointer;
}

nav::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  height: 2px;
  width: 20px;
  background: var(--main);
  cursor: pointer;
}

nav ul {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  list-style-type: none;
  padding: 8.25em 3.25em;
}

nav ul li {
  padding: 8px;
}

nav ul li a {
  color: var(--main);
}

nav ul.social {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--main);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul.social::before {
  content: attr(data-content);
  color: var(--main);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(12px, calc(-100% - 12px));
          transform: translate(12px, calc(-100% - 12px));
}

nav ul.social li {
  display: inline;
}

nav ul.social li a {
  color: var(--bg);
}

@media screen and (min-width: 548px) {
  nav {
    max-width: 568px;
    max-height: 568px;
  }
}

section#intro {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#intro header {
  color: var(--headerSideFx-color);
  padding: 24px 12px;
  text-align: center;
}

section#intro header h1 {
  font-weight: 300;
  margin: 12px;
}

section#intro article {
  width: 100%;
  position: relative;
  width: 80%;
  margin: 74px auto 12px auto;
  padding: 12px;
}

section#intro article h1 {
  color: var(--main);
}

section#intro article ul {
  list-style-type: none;
}

section#intro article ul li {
  padding: 4px 0;
}

section#intro .code {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: auto;
  border: 2px solid var(--main);
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: var(--bg);
}

section#intro .code, section#intro .code * {
  font-family: monospace;
}

section#intro .code .comment {
  opacity: 0.5;
}

section#intro .copy-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid var(--bg);
  color: var(--bg);
  background: var(--main);
  padding: 8px;
}

section#intro .copy-btn:active {
  background: var(--bg);
}

section#demo {
  width: 100%;
  position: relative;
}

section#demo div {
  background: var(--main);
  height: calc(70vh - 60px);
  min-height: 300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section#demo div h1, section#demo div a {
  color: var(--bg);
}

section#demo div:nth-of-type(2n) {
  background: var(--bg);
}

section#demo div:nth-of-type(2n) h1, section#demo div:nth-of-type(2n) a {
  color: var(--main);
}

section#demo div h1 {
  font-weight: 900;
}

#alert {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

#alert, #alert * {
  -webkit-transition: all 0.12s cubic-bezier(0.6, -0.28, 0.735, 1.25);
  transition: all 0.12s cubic-bezier(0.6, -0.28, 0.735, 1.25);
}

#alert.active-alert {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.09);
  top: 0;
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

#alert.active-alert .msgBox {
  -webkit-transform: translate(-50%, -50%) scale(1.35);
          transform: translate(-50%, -50%) scale(1.35);
}

#alert .msgBox {
  padding: 12px;
  color: var(--main);
  border: 2px solid var(--main);
  -webkit-box-shadow: 0 0 12px rgba(82, 77, 255, 0.42);
          box-shadow: 0 0 12px rgba(82, 77, 255, 0.42);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: var(--bg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100px;
  min-height: 50px;
}
/*# sourceMappingURL=style.css.map */