*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --main: hsl(242, 100%, 65%);
    --bg: #fff;
    --alt: hsl(242, 20%, 20%);

    --header-title-nav-height: calc(50vh + 60px);
    --header-title-nav-position: absolute;
    --header-title-nav-z-index: 0;
    --headerSideFx-color: var(--bg);
}

.code-inline{
    font-family: monospace;
    color: var(--main);
}

body{
    background: var(--bg);
    &, *{
        &::after, &::before{
            transition: all 0.2s ease-in;
        }
        transition: all 0.2s ease-in;
    }
}

a{
    color: var(--main);
}

header#header-title-nav{
    background: var(--main);
    height: var(--header-title-nav-height);
    color: var(--bg);
    position: var(--header-title-nav-position);
    width: 100%;
    z-index: var(--header-title-nav-z-index);

    h1{
        padding: 12px;
        display: inline-block;
    }
    
}

nav{
    display: inline-flex;
    position: fixed;
    background: var(--bg);
    color: var(--alt);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    top: 13.5px;
    right: 0;
    transform: translate(-12px, 0%);
    z-index: 999;

    &.nav-is-open{
        width: calc(100vw - 24px);
        height: calc(100vh - 27px);
        border: 2px solid var(--main);
        box-shadow: 0 0 12px hsla(242, 100%, 65%, 0.42);

        &::before{
            transform: translateY(5px) rotate(315deg);
        }
        &::after{
            transform: translateY(-5px) rotate(-315deg);
        }

        ul{
            opacity: 1;
            pointer-events: all;
        }
    }

    &::before{
        content: "";
        position: absolute;
        top: 15px;
        right: 10px;
        height: 2px;
        width: 20px;
        background: var(--main);
        cursor: pointer;
    }
    
    &::after{
        content: "";
        position: absolute;
        top: 25px;
        right: 10px;
        height: 2px;
        width: 20px;
        background: var(--main);
        cursor: pointer;
    }

    ul{
        position: absolute;
        opacity: 0;
        pointer-events: none;
        list-style-type: none;

        li{
            padding: 8px;
            a{
                color: var(--main);
            }
        }

        &.social{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: var(--main);
            padding: 12px;
            display: flex;
            justify-content: space-around;

            &::before{
                content: attr(data-content);
                color: var(--main);
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(12px, calc(-100% - 12px));
            }

            li{
                display: inline;

                a{
                    color: var(--bg);
                }
            }
        }
    }
}

@media screen and (min-width: 548px){
    nav{
        max-width: 568px;
        max-height: 568px;
    }
    
}


section#intro{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    
    header{
        color: var(--headerSideFx-color);
        padding: 24px 12px;
        text-align: center;

        h1{
            font-weight: 300;
            margin: 12px;
        }
    }

    article{
        width: 100%;
        position: relative;
        width: 80%;
        margin: 74px auto 12px auto ;
        padding: 12px;

        h1{
            color: var(--main);
        }

        ul{
            list-style-type: none;
            li{
                padding: 4px 0;
            }
        }
    }

    .code{
        width: 100%;
        height: fit-content;
        overflow-x: auto;
        border: 2px solid var(--main);
        padding: 12px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        background: var(--bg);
        
        &, *{
            font-family: monospace;
        }
        .comment{
            opacity: 0.5;
        }
    }

    .copy-btn{
        position: absolute;
        right: 0;
        top: 0;
        border: 2px solid var(--bg);
        color: var(--bg);
        background: var(--main);
        padding: 8px;

        &:active{
            background: var(--bg);
        }

    }
}

section#demo{
    width: 100%;
    position: relative;

    div{
        background: var(--main);
        height: calc(70vh - 60px);
        min-height: 300px;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1, a{
            color: var(--bg);
        }

        &:nth-of-type(2n){
            background: var(--bg);
            h1, a{
                color: var(--main);
            }
        }

        h1{
            font-weight: 900;
        }

    }
}